@page
@model PrivacyModel
@{
	ViewData["Title"] = "Sobre Nós";
}
<h1>@ViewData["Title"]</h1>

<p>Adote um Amigo: Dê a um Animal a Chance de um Novo Lar!

<p>
	Seja bem-vindo à nossa página de adoção! Aqui, você encontra muitos animais carinhosos e cheios de amor, esperando por um lar que os receba de braços abertos. Cada um tem uma história única e está em busca de um dono responsável que possa oferecer carinho, cuidado e uma vida cheia de felicidade.
</p>
<h2>Por que Adotar?</h2>

<p>
	Adotar é um ato de amor e responsabilidade. Ao adotar um animal, você não só proporciona uma segunda chance a ele, mas também ganha um companheiro fiel, que trará alegria e momentos especiais para sua vida. Muitos desses animais foram resgatados de situações difíceis e, com o seu apoio, poderão viver em um ambiente seguro e amoroso.
</p>

<h2>Como Funciona?</h2>

	Conheça os Animais: Navegue pelas nossas fotos e descrições dos animais disponíveis para adoção. Cada perfil traz informações sobre o temperamento, idade, e necessidades especiais de cada pet.

	Escolha Seu Novo Amigo: Se algum animal chamar sua atenção, entre em contato conosco para agendar uma visita. Assim, você pode conhecer o animal pessoalmente e ter certeza de que ele é a escolha certa para você.

	Adoção Responsável: Nossa missão é garantir que todos os animais sejam adotados por pessoas comprometidas com seu bem-estar. Durante o processo de adoção, faremos algumas perguntas para entender suas condições e garantir que você está preparado para oferecer o lar que eles merecem.

<h2>Benefícios de Adotar:</h2>

	Vida Nova para o Animal: Você estará oferecendo uma nova chance de vida a um animal que precisa de um lar seguro.
	Companheiro Fiel: Os animais de adoção são conhecidos por serem extremamente leais e gratos por um novo lar.
	Apoio a Causas Sociais: Ao adotar, você ajuda a reduzir o número de animais em abrigos e contribui para um mundo mais justo para os animais.
	Prepare-se para Adoção

	Antes de adotar, lembre-se de que os animais precisam de atenção, cuidados médicos, alimentação adequada e, principalmente, muito amor. Certifique-se de que sua casa está pronta para receber um novo membro da família, e esteja preparado para proporcionar a ele uma vida plena e feliz.

<blockquote>Junte-se à Nossa Causa!</blockquote>

	Se você está pronto para oferecer um lar amoroso e responsável, venha conhecer nossos animais para adoção. Cada adoção é uma história de amor que se inicia. Não espere mais! Adote um amigo e transforme a vida de um animal para sempre.
	</p>