@page
@model PrivacyModel
@{
    ViewData["Title"] = "Entre em contato";
}
<h1>@ViewData["Title"]</h1>

<p>
    Informações de Contato

    Se você tem interesse em adotar um animal ou se deseja mais informações sobre os nossos programas de adoção, ficaremos felizes em ajudar! Entre em contato conosco através dos meios abaixo:

    E-mail:
    adocao@animaiscarinhosos.org
    Para dúvidas gerais, informações sobre adoção ou orientações sobre cuidados com os animais.

    <h3>Telefone/WhatsApp:</h3>
    <h4>(54) 99999-9999</h4>
    Fale conosco por telefone ou WhatsApp para agendar uma visita ao abrigo, saber mais sobre os animais disponíveis ou discutir qualquer dúvida sobre o processo de adoção.

    Endereço:
    Rua dos Bichos, 123, Bairro Amigo dos Animais, Cidade - Estado
    Venha nos visitar e conhecer os nossos animais à procura de um lar! Estamos abertos de segunda a sábado, das 10h às 17h.

    Redes Sociais:

    <h3>Facebook: AnimaisCarinhososAdocao</h3>
    <h3> Instagram: animaiscarinhosos</h3>
    <h3>Twitter: adocao_animais</h3>
    Siga-nos nas redes sociais para ficar por dentro de novos animais disponíveis para adoção, eventos e muito mais!

    Formulário de Contato Online:
    [link para formulário]
    Preencha o formulário online e nossa equipe entrará em contato com você o mais breve possível para responder às suas dúvidas ou agendar uma visita.
</p>
