@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONG de Adoção de Animais</title>
</head>

<body>

    <link rel="stylesheet" href="css/base.css">
    <header>
        <h1>Bem-vindo à ONG de Adoção de Animais</h1>
        <p>Adote um amigo para a vida toda</p>
    </header>

    <main>

        <div class="container"> 
            <!-- Seção Sobre Nós -->
            <section id="about" class="about">
                <h2>Sobre Nós</h2>
                <p>
                    Somos uma ONG dedicada ao resgate e adoção de animais abandonados. Nosso objetivo é dar a esses
                    animais uma nova chance de encontrar um lar cheio de amor.
                </p>
            </section>

            <!-- Seção Animais para Adoção -->
            <section id="animals" class="animals">
                <h2>Animais para Adoção</h2>
                <div class="animal">
                    <figure>
                        <img src="...\images/images.jpeg"> 
                        <figcaption>
                            Filhotes peludos com cores cinza,
                            branco e preto em seu pelo, com as linguas para fora
                        </figcaption>
                        <h3>Rex</h3>
                        <p>Idade: 2 anos</p>
                    </figure>
                </div>
                <div class ="animal">
                    <figure>
                        <img src="...\images/gato-albino-scaled.webp"> 
                        <figcaption>Gato peludo todo branco com olhos um azul e outro amarelo</figcaption>
                        <h3>Mia</h3>
                        <p>Idade: 1 ano</p>
                    </figure>
                </div>
                <div class="animal">
                    <figure>
                        <img src="...\images/cachorro.webp"> 
                        <figcaption>Filhote cor caramelo com coleira vermelha</figcaption>
                        <h3>Thor</h3>
                        <p>Idade: 3 anos</p>
                    </figure>
                </div>
			</section>

            <!-- Seção Contato -->
            <section id="contact" class="contact">



                <h2>Entre em Contato</h2> <br />
                <form action="/enviar-contato" method="post">
                    
                    <section class="align-content-center">
                        <p>
                            <label for="name" >Nome:</label><br />
                            <input type="text" id="nome" name="nome" 
                                onclose="Preencha seu nome completo" required>
                        </p>
                        <p>
                            <label for="email">E-mail:</label><br />
                            <input type="text" id="email" name="email" required>
                        </p>
                        <p>
                            <label for="telefone">Telefone:</label><br />
                            <input type="text" id="telefone" name="telefone">
                        </p>
                        <p>
                            <label spellcheck="true" for="mensagem">Mensagem:</label><br />
                            <textarea id="mensagem" name="mensagem"></textarea>
                        </p>
                        <title>Botão Personalizado</title>
                        <link rel="stylesheet" href="style.css">

                    </section>

                    <section>
                        <button class="botao-personalizado">Clique Aqui</button>
                    </section>
                    
                </form>
            </section>
    
        </div>
    </main>
    <footer>

        <p>&copy; 2024 ONG de Adoção de Animais. Todos os direitos reservados.</p>

    </footer>

</body>

</html>
